
<!--div style=" float:left; width:304px; height:40px; background:#555555 url('/imgs/box_back.png'); border-radius:2px; margin-top:13px; font-size:17px; text-align:center; padding:5px 0px 5px 0px; ">
    <img alt="" src="/imgs/upload_icon.png" style=" float:left; margin-top:4px; margin-left:25px;" />
    <div style=" float:left; margin-top:6px; margin-left:10px; font-size:20px;">
        @Html.ActionLink("UPLOAD NEW VIDEO", "", "upload")<br />
    </div>
</div-->