<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  
  
  <configSections>
    
    
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
  
  
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-hypster_tv-20120801164225;Integrated Security=SSPI" />
	  <!--add name="Hypster_Entities" connectionString="metadata=res://*/hypster_tv_MODEL.csdl|res://*/hypster_tv_MODEL.ssdl|res://*/hypster_tv_MODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.20.21.24;initial catalog=HypsterNew;User Id=HypUser;Password=alameDa#503M.s.P.z30;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /-->
	  <add name="Hypster_Entities" connectionString="metadata=res://*/hypster_tv_MODEL.csdl|res://*/hypster_tv_MODEL.ssdl|res://*/hypster_tv_MODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=HypsterNew;Integrated Security=SSPI;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
  
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />


    <!-- System.Configuration.ConfigurationManager.AppSettings[""] -->
    <add key="isPRODUCTION" value="FALSE" />
    
    <add key="videoHostName" value="tv.hypster.com" /> <!-- tv.hypster.com-->
    <add key="hypsterHostName" value="hypster.com" /> <!-- hypster.com-->
    <add key="newsHostName" value="news.hypster.com" /> <!-- news.hypster.com -->
	<add key="cdnHostName" value="p.baronsmedia.vbz.netdna-cdn.com/vod/baronsmedia.vbz" />

	<!-- SERVER -->
	<add key="server_ID" value=".109" />
	  
	  
    <!-- MAX 9 -->
    <add key="numberOfPosts_HomePage" value="3" />
    
    
    <!-- CACHING-->
    <add key="homeVideoSlideshow_cache" value="3600" />
    
    
  </appSettings>
  
  
  
  
  
  <system.web>

    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>



    <machineKey validationKey="181DB6D714296FBDF513CE0729439AD2688D72E6FB35BDCE6BCA29931E122859CEA99AE922BCEB4396D3A2AB6888324955EF18F1CADD43741B4EE0CDBF0F37C3" decryptionKey="4629EFB3A15607AC6CDC2CB08B312E1B592DEF040E556C2880235243BCCC428A" validation="SHA1" decryption="AES" />

    <!-- ATTENTION NEED TO MODIFY ON PRODUCTION (DOMAIN NAME) -->
    <authentication mode="Forms">
      <!-- PRODUCTION -->
      <forms name="auth" loginUrl="~/Account/login" protection="All" timeout="3000" path="/" domain=".hypster.com" enableCrossAppRedirects="true" />
      <!-- DUBUGING -->
      <!--forms loginUrl="~/Account/login" timeout="1440" /-->
    </authentication>
  

    <customErrors mode="RemoteOnly" defaultRedirect="~/error/" />
	  <!--customErrors mode="On" defaultRedirect="~/home">
    </customErrors-->
    
    
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    
    
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>

    
    <httpRuntime maxRequestLength="51048576" /> <!-- NEED TO CHECK-->

    
  </system.web>
  
  
  
  
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
            <remove name="Helicon.Ape" />
        </modules>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="90000000" /> <!-- NEED TO CHECK-->
            </requestFiltering>
        </security>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/" responseMode="ExecuteURL" />
        </httpErrors>
        <handlers>
            <remove name="Helicon.Ape Handler" />
        </handlers>

  </system.webServer>
  
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      
    </assemblyBinding>
  </runtime>
  
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>



  




</configuration>