@{
    ViewBag.Title = "Thank you for uploading your video.";
}


<div style=" width:100%; min-height:200px; background-color:#454545; border-radius:2px; line-height:30px;">
    <br />
    <h2>Thank you for uploading your video. It will be published soon. <br />
     Click <a href="/" style=" color:#FCF088;">here</a> to return to home page.</h2>
</div>
